h1 {
  font-family: 'Faster One', cursive;
  font-family: 'Nosifer', cursive;
  text-shadow: 5px 5px 0px firebrick;
  color: white;
}
a {
  color: chartreuse;
  border-right: solid 2px white;
  padding-right: 5px;
}
footer {
  background-color: white;
  color: black;
  padding: 10px ;
  border-radius: 10px;
}
footer p {
  text-align: right;
  color: chocolate;
}
