// out: ../css/style.css, compress: false

body {
    background-color: black;
    color: wheat;
}
h2, h3, h4, h5, h6, p, {
    color: white;
}
h1 {
    //    font-family: 'Faster One', cursive;
    font-family: 'Faster One', cursive;
    font-family: 'Nosifer', cursive;
    text-shadow: 5px 5px 0px firebrick;
    color: white;
}
a {
    color: chartreuse;
    border-right: solid 2px white;
    padding-right: 5px;
}
footer {
    background-color: white;
    color: black;
    padding: 10px ;
    border-radius: 10px;
    p{
        text-align: right;
        color: chocolate;
    }
}

#mentions {
    text-align: center;
    a {
    border: solid 2px white;
    }
}
header {
    text-align: center;
}

table {
    border: 2px solid red;
    tr:nth-child(even){
        background-color: chocolate;
    }
    tbody tr:nth-child(odd){
        background-color: darkviolet;
    }
}
td {
    border: 1px dashed aqua;
}
